
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-4">
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Profile Detail
          </div>
          <ul class="list-group list-group-flush" *ngIf="user">
            <li class="list-group-item"><b>{{ name }}</b></li>
            <li class="list-group-item" id="address"> <i class="fas fa-map-marked-alt"></i><span>{{ user.address.street }} {{ user.address.suite }} {{ user.address.city }} {{ user.address.zipcode }}</span></li>
            <li class="list-group-item" id="phone"> <i class="fas fa-phone-alt"></i><span>{{ user.phone }}</span></li>
            <li class="list-group-item" id="mail"> <i class="fas fa-envelope"></i><span>{{ user.email }}</span></li>
            <li class="list-group-item" id="mail"> <i class="fas fa-sign-out-alt"></i><span><button class="btn" (click)="logout()">Logout</button></span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 col-lg-8">
        <ng-container *ngIf="userPostAndComment">
         
          <div *ngFor="let postAndComment of userPostAndComment" class="post-section">
            <div class="card">

              <div class="card-header">
                <div class="post-title">{{postAndComment.post.title}}</div>
              </div>

              <div class="card-body">
                <div class="post-body">{{postAndComment.post.body}}</div>
                <div class="comment-section">
                  <div *ngFor="let comment of postAndComment?.comments" class="comment">
                    {{comment.body}}
                    <div class="comment-info">
                      <span class="badge bg-secondary"> {{comment.name}} </span>
                      <span class="badge bg-secondary"> ( {{comment.email}} ) </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>