
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-4">
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Profile Detail
          </div>
          <ul class="list-group list-group-flush" *ngIf="user">
            <li class="list-group-item"><b>{{ name }}</b></li>
            <li class="list-group-item" id="address"> <i class="fas fa-map-marked-alt"></i><span>{{ user.address.street }} {{ user.address.suite }} {{ user.address.city }} {{ user.address.zipcode }}</span></li>
            <li class="list-group-item" id="phone"> <i class="fas fa-phone-alt"></i><span>{{ user.phone }}</span></li>
            <li class="list-group-item" id="mail"> <i class="fas fa-envelope"></i><span>{{ user.email }}</span></li>
            <li class="list-group-item" id="mail"> <i class="fas fa-envelope"></i><span><button class="btn" (click)="logout()">Logout</button></span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-7 col-lg-8">
          <div id="box1">
            <h4 class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempus id tellus ac efficitur. Etiam.</h4>
            <p class="ms-5">Lorem ipsum dolor.</p>
            <p class="ms-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="ms-5">Lorem ipsum dolor sit amet.</p>
            <p class="ms-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed.</p>
          </div>
      </div>
    </div>
  </div>